<style type="text/css">            
    #subscription-enablement-tool{
        border: 3px solid #bada55;
        border-top-width: 15px;
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;                
        top: 50px;
        left: 50px;
        position: absolute;
        border-radius-to: 5px
    }
    
    #subscription-enablement-tool{    
        height: 400px;
        width: 400px;           
        /*overflow: scroll;*/
        overflow-y: hidden;
        overflow-x: hidden;
       -webkit-overflow-scrolling:touch;
    }
    #affiliate-iframe {
        width: 100%;
        height: 100%;
    }
</style>
<div id="subscription-enablement-tool">
	<div id="contentScroller">
             <iframe id="affiliate-iframe" src="../affiliatePOC/index.html"/>
	</div>
</div>
     